@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Source+Code+Pro:wght@600&display=swap');
:root {
    --btn-height: 48px;
    --gap: 6px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: rgb(245, 232, 204);
    font-family: 'Source Code Pro', monospace;
}
header, footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
}
header {
    top: 0;
    background: rgb(216, 208, 138);
}
h1 {
    text-align: center;
    margin-top: 1rem;
}
main {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}
.calculator {
    display: grid;
    gap: var(--gap);
    width: 260px;
    /* height: 320px; */
    background:rgb(94, 84, 58);
    padding: 20px;
    border-radius: 12px;box-shadow: 1px 1px 2px 0 #000c;
    grid-template-areas:
    'visor visor visor visor'
    'clear division times less'
    'seven eight nine plus'
    'four five six plus'
    'one two three equals'
    'zero zero dot equals';
}
.visor {
    grid-area: visor;
    background: #333;
    height: calc(1.5* var(--btn-height));
    color: rgb(240, 240, 168);
    margin-bottom: 12px;
    font-family: 'Russo One', sans-serif;
    font-size: 32px;
    padding: 12px;
    display: grid;
    place-content: end right;
    box-shadow: inset 1px 1px 2px 0 #fff6;
}
button {
    border-radius: 6px;
    height: var(--btn-height);
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 18px;font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    box-shadow: 1px 1px 2px 0 #000c;
}
button:hover {
    filter: brightness(.85);
}
.btn-primary {
    background:rgb(169, 145, 236);
    color: white;
}
.btn-secondary {
    background:rgb(145, 236, 152);
}
.btn-danger {
    background: red;
    color: white;
}
.big {
    height: calc(2* var(--btn-height) + var(--gap));
}
.clear {grid-area: clear}
.division {grid-area: division}
.times {grid-area: times}
.less {grid-area: less}
.plus {grid-area: plus}
.dot {grid-area: dot}
.equals {grid-area: equals}
.one {grid-area: one}
.two {grid-area: two}
.three {grid-area: three}
.four {grid-area: four}
.five {grid-area: five}
.six {grid-area: six}
.seven {grid-area: seven}
.eight {grid-area: eight}
.nine {grid-area: nine}
.zero {grid-area: zero}

footer {
    bottom: 0;
    background: #333;
    display: grid;
    place-content: center right;
}
footer a {
    color: rgb(245, 232, 204);
    text-decoration: none;
    padding-right: 4rem;
}
